.parrafo{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 25px;
}


.divContenedor{
display: flex;
justify-content: center;
flex-wrap: wrap;


}

.hijo{
display: flex;
display: grid;
margin: 20px;


}
.imagen{
    height: 200px; 
    width: 200px;
    margin-top: 20px;

 }
 .contenido{
    display: flex;
    justify-content: center;
    align-items: center;
 }

button{
background: rgb(16, 83, 50);
color: rgb(240, 235, 243);
height: 30px ;
width: 200px ;
transition: 0.5s ;
font-size: 15px;

}

button:hover{
    background: rgb(70, 54, 218);
    color: rgb(25, 218, 243);
   
}
 
 #resultado{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
 }

.resultado-azul{
    color: rgb(31, 31, 223);
}

.resultado-rojo{
    color: rgb(196, 5, 5);
}